<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS" value="./logs" />

    <appender name="Console"
        class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{ISO8601} %-5level [%thread] %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="RollingFile"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/ubk-app.log</file>
        <encoder
            class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
        </encoder>

        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/ubk-app-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <!-- For Production, you might want to use a JSON layout -->
    <appender name="JsonFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/ubk-app.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/ubk-app-%d{yyyy-MM-dd}.%i.json.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <!-- Default behavior -->
    <root level="info">
        <appender-ref ref="Console" />
    </root>

    <!-- Dev profile: Console logging -->
    <springProfile name="dev">
        <root level="info">
            <appender-ref ref="Console" />
        </root>
        <logger name="kg.gov.mtsdr.ubk" level="debug" additivity="false">
            <appender-ref ref="Console" />
        </logger>
    </springProfile>

    <!-- Prod profile: JSON file logging -->
    <springProfile name="prod">
        <root level="info">
            <appender-ref ref="JsonFile" />
        </root>
    </springProfile>

</configuration>
